<head>
    <link rel="icon" href="https://i.imgur.com/22VflBD.png"/>
    <link rel="stylesheet" href="/public/stylesheets/chonascomics.css">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6b596073e7.js" crossorigin="anonymous"></script>
    <title>Chona's comics</title>
</head>
<body>
    <main>
        <div class="chonascomics">
            <img class="logos" src="https://i.imgur.com/9gnSnKh.png" alt="super mario">
            <p>La franquicia de videojuegos más famosa del planeta protagonizando al fontanero que mejor salta. 
                Juegos que son iconos y diseñaron al mundo de los videojuegos como lo conocemos, muchas veces adelantándose
                 a su tiempo. Gran calidad de títulos al largo de su historia y no para de caer. Los mejores juegos de
                  plataformas siempre están acá.</p>
        </div>
        <div class="tomos">
            <h2>Juegos destacados</h2>
            <ul>
                <li><a href="https://i.imgur.com/LW5Rq2k.jpg" target="blank"><img src="https://i.imgur.com/LW5Rq2k.jpg" alt=""></a></li>
                <li><a href="https://i.imgur.com/wz1mIAC.jpg" target="blank"><img src="https://i.imgur.com/wz1mIAC.jpg" alt=""></a></li>
                <li><a href="https://i.imgur.com/2IYYk40.jpg" target="blank"><img src="https://i.imgur.com/2IYYk40.jpg" alt=""></a></li>
                <li><a href="https://i.imgur.com/bV87jjQ.jpg" target="blank"><img src="https://i.imgur.com/bV87jjQ.jpg" alt=""></a></li>
                <li><a href="https://i.imgur.com/W0UB8Xt.jpg" target="blank"><img src="https://i.imgur.com/W0UB8Xt.jpg" alt=""></a></li>
                <li><a href="https://i.imgur.com/qbBce8g.jpg" target="blank"><img src="https://i.imgur.com/qbBce8g.jpg" alt=""></a></li>
            </ul>
        </div>
    </main>
</body>