<head>
    <link rel="icon" href="https://i.imgur.com/boOUyhA.png"/>
    <link rel="stylesheet" href="/public/stylesheets/froggymarket.css">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6b596073e7.js" crossorigin="anonymous"></script>
    <title>Froggy Market</title>
</head>
<body>
    <main>
        <div class="froggymarket">
            <img class="logos" src="https://i.imgur.com/boOUyhA.png" alt="Froggy Market">
            <p>Ariel es un joven frustrado por su forma de vida. Posee un deseo enorme de abrirse su propio local 
                de venta de videojuegos. Sin embargo, tiene un problema personal que no puede superar y le impide cumplir 
                su deseo: su enorme timidez. Junto con su novia Silvana buscaran una inesperada solución a su problema, 
                y comenzaran sus peripecias para mantener abierto frente a cualquier crisis su local llamado “Froggy market”. 
                Pasen y disfruten estas divertidas desventuras. Historieta de humor. Libro auto conclusivo de 20 paginas a color.</p>
        </div>
        <div class="tomos">
            <h2>Tomos</h2>
            <ul>
                <li><a href="https://i.imgur.com/pLsuf4S.jpg" target="blank"><img src="https://i.imgur.com/pLsuf4S.jpg" alt=""></a></li>
            </ul>
        </div>
    </main>
</body>