<head>
    <link rel="icon" href="https://i.imgur.com/boOUyhA.png"/>
    <link rel="stylesheet" href="/public/stylesheets/froggymarket.css">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6b596073e7.js" crossorigin="anonymous"></script>
    <title>Froggy Market</title>
</head>
<body>
    <main>
        <div class="froggymarket">
            <img class="logos" src="https://i.imgur.com/wWOSLZX.png" alt="Zelda">
            <p>La épica franquicia fantástico-medieval que es una leyenda. También creo muchas de las 
                convenciones que conocemos hoy en día y las damos por sentadas. Siempre busca innovar 
                concentrándose en pocos conceptos que explota en cada lanzamiento. Posee el mejor juego de 
                la historia de los videojuegos, indiscutidamente. Mostro la forma de jugar este genero hasta 
                de que existiera el mismo. </p>
        </div>
        <div class="tomos">
            <h2>Juegos destacados</h2>
            <ul>
                <li><a href="https://i.imgur.com/8qt1n2I.jpg" target="blank"><img src="https://i.imgur.com/8qt1n2I.jpg" alt=""></a></li>
                <li><a href="https://i.imgur.com/GWegpGx.jpg" target="blank"><img src="https://i.imgur.com/GWegpGx.jpg" alt=""></a></li>
                <li><a href="https://i.imgur.com/XrD09jS.jpg" target="blank"><img src="https://i.imgur.com/XrD09jS.jpg" alt=""></a></li>
                <li><a href="https://i.imgur.com/TjebWgj.jpg" target="blank"><img src="https://i.imgur.com/TjebWgj.jpg" alt=""></a></li>
                <li><a href="https://i.imgur.com/6asNJ51.jpg" target="blank"><img src="https://i.imgur.com/6asNJ51.jpg" alt=""></a></li>
            </ul>
        </div>
    </main>
</body>