<head>
    <link rel="icon" href="https://i.imgur.com/pNA2jJ8.png"/>
    <link rel="stylesheet" href="/public/stylesheets/nxall.css">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6b596073e7.js" crossorigin="anonymous"></script>
    <title>Nxall</title>
</head>
<body>
    <main>
        <div class="nxall">
            <img class="logos" src="https://i.imgur.com/pNA2jJ8.png" alt="Nxall">
            <p>Dos influencers que quieren ser masivamente conocidos a través de Youtube realizando videos hablando 
                sobre el mundo de los videojuegos y ellos mismos... o haciendo cualquier cosa que les traiga suscriptores 
                y seguidores a su canal. El ridículo y la diversión estará a la orden del día en sus aventuras de youtubers. 
                Historieta de humor. Serie 3 tomos auto conclusivos de 30 páginas. .</p>
        </div>
        <div class="tomos">
            <h2>Tomos</h2>
            <ul>
                <li><a href="https://i.imgur.com/bV62unT.jpg" target="blank"><img src="https://i.imgur.com/bV62unT.jpg" alt=""></a></li>
                <li><a href="https://i.imgur.com/RqMxMSv.jpg" target="blank"><img src="https://i.imgur.com/RqMxMSv.jpg" alt=""></a></li>
                <li><a href="https://i.imgur.com/qDTgLYz.jpg" target="blank"><img src="https://i.imgur.com/qDTgLYz.jpg" alt=""></a></li>
            </ul>
        </div>
    </main>
</body>