<head>
    <link rel="icon" href="https://i.imgur.com/pNA2jJ8.png"/>
    <link rel="stylesheet" href="/public/stylesheets/nxall.css">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6b596073e7.js" crossorigin="anonymous"></script>
    <title>Nxall</title>
</head>
<body>
    <main>
        <div class="nxall">
            <img class="logos" src="https://i.imgur.com/smsyqsm.png" alt="Metroid">
            <p>Una de las franquicias más irregulares de Nintendo, pero no por eso menos icónicas. Creando 
                nuevas formas de jugar en su genero sci-fi e innovando todo el tiempo. Incentiva la exploración 
                y la curiosidad en cada uno de sus grandes lanzamientos. Juegos que buscan transmitirte un 
                sentimiento de soledad al estar atrapado en un planeta desconocido lleno de monstruos que solo buscan destruirte. </p>
        </div>
        <div class="tomos">
            <h2>Juegos destacados</h2>
            <ul>
                <li><a href="https://i.imgur.com/N7EsME1.jpg" target="blank"><img src="https://i.imgur.com/N7EsME1.jpg" alt=""></a></li>
                <li><a href="https://i.imgur.com/gEQZqTu.jpg" target="blank"><img src="https://i.imgur.com/gEQZqTu.jpg" alt=""></a></li>
                <li><a href="https://i.imgur.com/YG7A7YD.jpg" target="blank"><img src="https://i.imgur.com/YG7A7YD.jpg" alt=""></a></li>
                <li><a href="https://i.imgur.com/yt10iuP.jpg" target="blank"><img src="https://i.imgur.com/yt10iuP.jpg" alt=""></a></li>
                <li><a href="https://i.imgur.com/953ujy0.jpg" target="blank"><img src="https://i.imgur.com/953ujy0.jpg" alt=""></a></li>
            </ul>
        </div>
    </main>
</body>